:host {
  background: #fff;
  display: flex;
  margin-top: 10px;
  border-radius: 4px;
  padding: 10px;
  font-size: 11px;
  margin-left: 20px;
  line-height: 12px;
  font-weight: 200;
  color: gray;

  icon {
    margin-right: 5px;
  }
}
