:host {
  background: #fff;
  display: flex;
  margin-top: 10px;
  border-radius: 4px;
  padding: 10px;
  margin-left: 20px;

  .icon {
    background: #0e2bc5;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    min-width: 30px;
    margin-right: 10px;
    border-radius: 4px;
    display: flex;
    color: white;
  }
}
