.article {
  border-radius: 4px;
  background: white;
  padding: 10px;
  background: white;
  margin-bottom: 16px;
  margin-top: 10px;

  .headline {
    display: flex;
    justify-content: space-between;

  }

  .text {
    font-weight: 200;
    margin: 10px 0 13px;
    border-top: 1px solid #bfbfbf;
    padding-top: 5px;
    color: grey;
    font-size: 12px;
    line-height: 14px;
  }

  button {
    border: 0;
    padding: 0 23px;
    border-radius: 4px;
    background: #58bcff;
    color: white;
    font-size: 12px;
    min-height: 26px;
  }
}
