:host {
  background: white;
  margin: 16px 0 0;
  padding: 10px 8px;
  border-radius: 4px;

  .headline {
    min-height: 27px;
    margin-bottom: 11px;
    display: flex;
    align-items: center;
    font-size: 15px;
    line-height: 17px;
    color: #707070;
    font-weight: 200;

    icon {
      margin-right: 5px;
    }
  }

  textarea {
    resize: none;
    width: 100%;
    color: #737373;
    min-height: 50px;
    font-weight: 200;
    background: #f5f6fa;
    border: 0;
    padding: 6px;
    border-radius: 3px;
    margin-bottom: 6px;
  }

  button {
    border: 0;
    padding: 0 27px;
    border-radius: 4px;
    background: #58bcff;
    color: white;
    font-size: 12px;
    min-height: 26px;
    font-weight: 200;
  }
}
