:host {
  height: 35px;
  margin: 0 18px;
  display: flex;

  input[type="text"] {
    width: 100%;
    border: 1px solid transparent;
    border-radius: 17px;
    text-align: center;
    font-weight: 200;
    font-size: 15px;
  }
}